p {
    font-family: 'revatureFont';
}
.title {
    padding-top: 5%;
}

input[type=text], input[type=password] {
    font-size: medium;
}

.modal-btn {
    transition-duration: 0.4s;
    border:none;
    color: #f09467;
    background-color: var(--bg-color);
}

.modal-title, .modal-btn:hover {
    color:#F26925;
}

#message {
    text-align: center;
}

.modal-header, .modal-body, .modal-footer{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
}

.saveBtn{
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}