body {
    background-image: url('../../assets/img/healthcarebackground.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size:cover;
  }

.clipb {
    position: absolute;
    top: -2.5%;
    left: 50%; 
    transform: translate(-50%, -50%);
 }

.png2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #474C55;
  border: none;
  color: white;
}

#inbord {
  border-color: #474C55;
  border-width: 7px;
}

#outbord {
  background-color: #F26925;
  border-width: 14px;
}

input[type=text], input[type=email], input[type=password] {
  font-size: small;
}

#asterisk {
  color: red;
}

#errorMessage {
  color: red;
  text-align: center;
}


