<!-- Toggle Modal Button(is hidden), is conditionally toggled in component.ts-->
<button
  type="button"
  class="visually-hidden"
  data-bs-toggle="modal"
  data-bs-target="#DoctorCovidSurvey"
  #showModal
>
  Covid Status Update
</button>

<!-- Covid Status Survey Modal: Will need to open on first login on Monday, day checked in nginit method -->
<div
  class="modal fade"
  id="DoctorCovidSurvey"
  tabindex="-1"
  aria-labelledby="DoctorCovidSurvey"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header custom-background-color">
        <h4 class="modal-title custom-header-color" id="exampleModalLabel">
          Weekly Covid Status Survey
        </h4>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Modal Body: COVID status (none, exposed, vaccinated, quarantining)  -->
      <div class="modal-body text-center">
        <!-- Form  -->
        <form [formGroup]="covidStatusForm" (ngSubmit)="submit()">
          <!-- Have You Had Any Of These Symptoms? -->
          <!-- symptoms include headache, loss of smell and taste, nasal congestion and runny nose, cough, muscle pain, sore throat, fever, diarrhea, and breathing difficulties-->
          <h5 class="custom-secondary-color">Have you had any of the following symptoms?</h5>
          <p>(Headache, loss of smell and taste, nasal congestion and runny nose, cough, muscle pain, sore throat, fever, diarrhea, or breathing difficulties.)</p>
          <div
            class="btn-group btn-group-lg mb-3"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <!-- Yes -->
            <input
              type="radio"
              class="btn-check"
              name="hasSymptoms"
              id="radioSymptoms1"
              autocomplete="off"
              checked
              value="yes"
              formControlName="hasSymptoms"
            />
            <label class="btn btn-outline-primary" for="radioSymptoms1"
              >Yes</label
            >

            <!-- No -->
            <input
              type="radio"
              class="btn-check"
              name="hasSymptoms"
              id="radioSymptoms2"
              autocomplete="off"
              value="no"
              formControlName="hasSymptoms"
            />
            <label class="btn btn-outline-primary" for="radioSymptoms2"
              >No</label
            >
          </div>

          <hr />
          <br />

          <!-- Have you been exposed to COVID-19? -->
          <h5 class="custom-secondary-color">Have you been exposed to or diagnosed with COVID-19?</h5>
          <div
            class="btn-group btn-group-lg mb-3"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <!-- Yes -->
            <input
              type="radio"
              class="btn-check"
              name="isExposed"
              id="radioExposed1"
              autocomplete="off"
              checked
              value="yes"
              formControlName="isExposed"
            />
            <label class="btn btn-outline-primary" for="radioExposed1"
              >Yes</label
            >

            <!-- No -->
            <input
              type="radio"
              class="btn-check"
              name="isExposed"
              id="radioExposed2"
              autocomplete="off"
              value="no"
              formControlName="isExposed"
            />
            <label class="btn btn-outline-primary" for="radioExposed2"
              >No</label
            >
          </div>

          <hr />
          <br />

          <!-- Have You Traveled Anywhere In The Last 30 Days? -->
          <h5 class="custom-secondary-color">Have you traveled anywhere in the last 30 days?</h5>
          <div
            class="btn-group btn-group-lg mb-3"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <!-- Yes -->
            <input
              type="radio"
              class="btn-check"
              name="hasTraveled"
              id="raidoTraveled1"
              autocomplete="off"
              checked
              value="yes"
              formControlName="hasTraveled"
            />
            <label class="btn btn-outline-primary" for="raidoTraveled1"
              >Yes</label
            >

            <!-- No -->
            <input
              type="radio"
              class="btn-check"
              name="hasTraveled"
              id="raidoTraveled2"
              autocomplete="off"
              value="no"
              formControlName="hasTraveled"
            />
            <label class="btn btn-outline-primary" for="raidoTraveled2"
              >No</label
            >
          </div>

          <br />
          <hr />

          <!-- Submit Button -->
          <button
            type="submit"
            class="btn btn-primary mt-3"
            data-bs-dismiss="modal"
          >
            Submit
          </button>
        </form>
      </div>
      <!-- Modal Footer -->
      <!-- <div class="modal-footer custom-background-color"></div> -->
    </div>
  </div>
</div>

<!--
   <p>Select all that apply.</p>
          <div
            class="btn-group btn-group-sm mb-3"
            role="group"
            aria-label="Basic checkbox toggle button group"
          >

            <input
              type="checkbox"
              class="btn-check"
              id="checkHeadache"
              name="headache"
              formControlName="headache"
              autocomplete="off"
            />
            <label class="btn btn-outline-primary" for="checkHeadache"
              >Headache</label
            >

            <input
              type="checkbox"
              class="btn-check"
              id="checkSmellTaste"
              name="noSmellTaste"
              formControlName="noSmellTaste"
              autocomplete="off"
            />
            <label class="btn btn-outline-primary" for="checkSmellTaste"
              >Loss of Smell/Taste</label
            >


            <input
              type="checkbox"
              class="btn-check"
              id="checkFever"
              name="fever"
              formControlName="fever"
              autocomplete="off"
            />
            <label class="btn btn-outline-primary" for="checkFever"
              >Fever</label
            >


            <input
              type="checkbox"
              class="btn-check"
              id="checkCough"
              name="cough"
              formControlName="cough"
              autocomplete="off"
            />
            <label class="btn btn-outline-primary" for="checkCough"
              >Cough</label
            >


            <input
              type="checkbox"
              class="btn-check"
              id="checkBreathing"
              name="breathingDifficulties"
              formControlName="breathingDifficulties"
              autocomplete="off"
            />
            <label class="btn btn-outline-primary" for="checkBreathing"
              >Trouble Breathing</label
            >
 -->
