<!-- Button: Temp, will need to trigger programmatically later on -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#DoctorCovidSurvey"
>
  Covid Status Update
</button>

<!-- Covid Status Survey Modal: Will need to open on first login on Monday -->
<div
  class="modal fade"
  id="DoctorCovidSurvey"
  tabindex="-1"
  aria-labelledby="DoctorCovidSurvey"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Modal Header -->
        <h5 class="modal-title" id="exampleModalLabel">
          Weekly Covid Status Survey
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Modal Body COVID status (none, exposed, vaccinated, quarantining)  -->
      <div class="modal-body">
        <!-- Radio Group -->
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <!-- Status: none -->
          <input
            type="radio"
            class="btn-check"
            name="covidStatusRadio"
            id="btnRadioNone"
            autocomplete="off"
            checked
            value="none"
          />
          <label class="btn btn-outline-primary" for="btnRadioNone">None</label>

          <!-- Status: Exposed -->
          <input
            type="radio"
            class="btn-check"
            name="covidStatusRadio"
            id="btnRadioExposed"
            autocomplete="off"
            value="exposed"
          />
          <label class="btn btn-outline-primary" for="btnRadioExposed">Exposed</label>

          <!-- Status: Vaccinated -->
          <input
            type="radio"
            class="btn-check"
            name="covidStatusRadio"
            id="btnRadioVaccinated"
            autocomplete="off"
            value="vaccinated"
          />
          <label class="btn btn-outline-primary" for="btnRadioVaccinated"
            >Vaccinated</label
          >

          <!-- Status: Quarantining-->
          <input
            type="radio"
            class="btn-check"
            name="covidStatusRadio"
            id="btnRadioQuarantining"
            autocomplete="off"
            value="quarantining"
          />
          <label class="btn btn-outline-primary" for="btnRadioQuarantining"
            >Quarantining</label
          >
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Update Status</button>
      </div>
    </div>
  </div>
</div>
