button,
.custom-control-input-orange:checked~.custom-control-label::before {
    background-color: #F26925;
}

.card-header {
    background-color: #72A4C2;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #474C55;
}

::selection,
.input-group-prepend .input-group-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
    background-color: #B9B9BA;
}

.card-body {
    width: 60%;
}
