button {
    background-color: #F26925;
}

.card-header {
    background-color: #72A4C2;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #474C55;
}

::selection,
.input-group-prepend .input-group-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
    background-color: #B9B9BA;
}

.card-body {
    width: 85%;
}

#chart {
    margin-top: 10%;
}

#inbord {
    background-color: white;
    border:none;
}

#outbord {
    background-color: #474C55;
    border-width: 20px;
}

.clipb {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

