  <div class="container align-items-center p-3 w-75">

        <div *ngIf="null == null; then loggedIn else loggedOut"></div>

        <ng-template #loggedIn>
            <div class="card">
                <div class="card-header">
                    <div class="card-heading">Patient Chart</div>
                </div>

                <div class="card-body mx-auto">
                    <form [formGroup] = "chartGroup">
                        <div class="input-group my-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Doctor</span>
                            </div>
                            <input type="text" class="form-control shadow-sm mr-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nurse</span>
                            </div>
                            <input type="text" class="form-control shadow-sm">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                            <input  formControlName="firstname" type="text" class="form-control shadow-sm" placeholder="First Name">
                            <input formControlName="lastname" type="text" class="form-control shadow-sm mr-3" placeholder="Last Name">
                            <div class="input-group-prepend">
                                <span class="input-group-text">DOB</span>
                            </div>
                            <input  formControlName="dob" type="text" class="form-control shadow-sm" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="MM/DD/YYYY" onClick="event.preventDefault()">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Address</span>
                            </div>
                            <input formControlName="address" type="text" class="form-control shadow-sm" placeholder="123 Main Street">
                            <input formControlName="address" type="text" class="form-control shadow-sm" placeholder="Apartment, suite, building, etc.">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">City</span>
                            </div>
                            <input  formControlName="address" type="text" class="form-control shadow-sm mr-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">State</span>
                            </div>
                            <select formControlName="address" class="form-select shadow-sm mr-3">
                                <option value="" disabled>Select a State</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="District of Columbia">District of Columbia</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Guam">Guam</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Northern Marianas Islands">Northern Marianas Islands</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Virgin Islands">Virgin Islands</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Zip Code</span>
                            </div>
                            <input formControlName="address" type="text" class="form-control shadow-sm">
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Email</span>
                            </div>
                            <input formControlName="email" type="email" class="form-control shadow-sm mr-3" placeholder="email@example.com">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Insurance</span>
                                </div>
                                <input type="text" class="form-control shadow-sm" placeholder="123456789">
    
                                <!-- <div class="input-group-prepend">
                                    <span class="input-group-text" id="">Room</span>
                                </div>
                                <input type="text" class="form-control shadow-sm" placeholder="101"> -->
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Diagnosis</span>
                            </div>
                            <input formControlName="diagnosis" type="text" class="form-control shadow-sm">
                        </div>
                        <div class="input-group mb-3">
                            <textarea formControlName="notes" class="form-control shadow-sm" placeholder="Notes"></textarea>
                        </div>
                        <div class="col text-center">
                            <button class="btn btn-block text-uppercase mt-4 mb-2 shadow-sm w-25" (click)="submitChart(chartGroup)">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
<ng-template #loggedOut>
    <p>Log In or Create an Account</p>
</ng-template>


