button {
    background-color: #F26925;
}

.card-header {
    background-color: #72A4C2;
}

input:focus,
textarea:focus {
    border-color: #474C55;
}

::selection {
    background-color: #B9B9BA;
}

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
    background-color: #B9B9BA;
}

.input-group-prepend .input-group-text {
    background-color: #B9B9BA;
}