#pageContainer {
    
    margin-left: 10px;
    margin: auto auto;
}

#idDetails {
    border: 1px solid black;
}

#name {
    display: flex;
    justify-content: space-between;
}

#lastName, #firstName, #professionType {
    margin: auto auto;
}

#fieldSpecialty, #dob, #covid {
    margin: auto auto;
}

#contactInfo {
    display: flex;
    justify-content: space-around;
}

#name {
    border: 1px solid black;
}