#pageContainer {
    width: 80%;
    margin-left: 10px;
    margin: auto auto;
}
.sideMenu{
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}
.d-flex {
    height:100%;
}

.card-header {
    background-color: #72A4C2;
}

.quick-nav{
    height: 100%;
    background-color: #F26925;
    color: white;
}

.test-image{
    height: 7em;
    width: auto;
    border-radius: 100px;
}

.nav-link{
    color: white;
}

.card{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
}

.table{
    color: var(--text-color);
    transition: all 0.5s ease-in-out;
}
#th1 {
    border-top: 2px solid #72A4C2;
}
#td4 {
    border-bottom: 2px solid #72A4C2;
}
th {
    border-bottom: 2px solid #F26925;
}
td {
    border-bottom: 2px solid var(--text-color);
}

.updateBtn{
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}

a:hover, button:hover {
    cursor: pointer;
}

.custom-header-color {
    color: #ffffff;
}

.custom-secondary-color {
    color:  #F26925;
}

.custom-background-color {
    background-color: #474C55;
}