<div appMode class = "toggleContainer" id="pageContainer row">
    <div class="d-flex">
    <div class="quick-nav col-3">
        <div>
        <h2>QuickNav</h2>
        <ul class="nav quick-nav flex-column col-12">
            <li *ngIf="isNurse" class="nav-item">
                <a class="nav-link active" RouterLink="/charts">New Chart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Discussion Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
            </li>
        </ul>
        </div>
    </div>
    <!--This container holds all personal info, name, address, photo, dob, specialty, etc-->
    <div appMode class="col-9 card">
        <h2 id="greeting card-header">Welcome, {{ this.currentUser.role | titlecase }} {{ this.currentUser.lastName | titlecase }}</h2>
        <div class="row">
            <div class="col-6">

                <img class= "test-image" src="https://i.stack.imgur.com/34AD2.jpg" alt="" *ngIf="currentUser.image == null">
                <img src={{currentUser.image}} alt="{{currentUser.firstname + ' ' + currentUser.lastname}}" width= 400 *ngIf="currentUser.image != null"/>
                <form [formGroup] = "photoGroup" form-control = "formGroup">

                    <input #file class = "" type="file" formControlName="newPhoto" (change)="updatePhoto($event)" *ngIf="currentUser.image == null"/>

                    <!-- <button class = "btn btn-primary" type = "submit">Change Photo</button> -->
                </form>


            </div>
            <div class="col-6">
                <table appMode class="table">
                    <thead>
                        <tr>
                            <th scope="col">Last</th>
                            <th scope="col">First</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ currentUser.lastName | titlecase}}</td>
                            <td>{{ currentUser.firstName | titlecase}}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">Role</th>
                            <th scope="col">Specialty</th>
                            <th scope="col">Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ currentUser.role | titlecase}}</td>
                            <td>{{ currentUser.specialty | titlecase}}</td>
                            <td>{{ unitName | titlecase }}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">DOB</th>
                            <th scope="col">Covid Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ currentUser.dob | date}}</td>
                            <td>{{ currentUser.covidStatus }}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="address">
                    <div>{{ currentUser.address }}</div>
                    <!-- <div>Address Line 2</div> -->
                </div>
            </div>
        </div>
        <!--This is a container that will hold the "About Me" information for the individual-->
        <div id="aboutContainer">
            <h2>About me</h2>
            <p>
                {{ currentUser.about }}
            </p>
            <!-- <h5>Update About Me</h5> -->
            <form [formGroup] = "aboutMeGroup" form-control="aboutMe" (ngSubmit)="updateAboutMe()">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Add about me information here.." id="floatingTextarea" formControlName="aboutMe"></textarea>
                    <label for="floatingTextarea">Edit About Me</label>
                  </div>
                <button class = "updateBtn btn" type = "submit">Update</button>
            </form>
        </div>
         <!-- Chart List -->
         <br>
         <h5>Your Charts</h5>
        <div class="list-group">
            <a *ngFor="let chart of charts" class="list-group-item list-group-item-action"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                <li class="list-group-item">Patient: {{ chart.firstName | titlecase }} {{ chart.lastName | titlecase }}</li>
                <li class="list-group-item">Doctor: {{ chart.doctor.firstName | titlecase }} {{ chart.doctor.lastName | titlecase }}</li>
                <li class="list-group-item">Nurse: {{ chart.nurse.firstName | titlecase }} {{ chart.doctor.lastName | titlecase }}</li>
            </a>
        </div>
    </div>



</div>

<!-- Pop-ups -->

<!-- Covid Survey -->
<app-survey></app-survey>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-charts></app-charts>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

