#pageContainer {
    width: 50%;
    margin-left: 10px;
    margin: auto auto;
}

#personalInfo {
    border: 1px solid black;
}

#personalInfo {
    border: 1px solid black;
}

#name {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#lastName, #firstName, #professionType {
    border: 1px solid black;
    margin: auto auto;
}

#fieldSpecialty, #dob, #covid {
    border: 1px solid black;
    margin: auto auto;
}

#contactInfo {
    display: flex;
    justify-content: space-around;
}