<div id="pageContainer row">
    <div class="d-flex">
    <div class="quick-nav col-3">
        <div>
        <h2>QuickNav</h2>
        <ul class="nav quick-nav flex-column col-12">
            <li class="nav-item">
                <a class="nav-link active" href="#">Chart Options</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Discussion Board</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
            </li>
        </ul>
        </div>
    </div>
    <!--This container holds all personal info, name, address, photo, dob, specialty, etc-->
    <div class="col-9 card">
        <h2 id="greeting card-header">Welcome, {{ this.currentUser._role | titlecase }} {{ this.currentUser._lname | titlecase }}</h2>
        <div class="row">
            <div class="col-6">

                <img class= "test-image" src="https://i.stack.imgur.com/34AD2.jpg" alt="" *ngIf="currentUser._image == null">
                <img src={{currentUser._image}} alt="{{currentUser._fname + ' ' + currentUser._lname}}" width= 400 *ngIf="currentUser._image != null"/>
                <form [formGroup] = "photoGroup" form-control = "formGroup">
                    <input #file class = "" type="file" formControlName="newPhoto" (change)="updatePhoto($event)" *ngIf="currentUser._image == null"/>
                    <!-- <button class = "btn btn-primary" type = "submit">Change Photo</button> -->
                </form>


            </div>
            <div class="col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Last</th>
                            <th scope="col">First</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ currentUser._lname | titlecase}}</td>
                            <td>{{ currentUser.f_name | titlecase}}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">Role</th>
                            <th scope="col">Specialty</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ currentUser._role | titlecase}}</td>
                            <td>{{ currentUser._specialty | titlecase}}</td>
                            <td>{{ unitName }}</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th scope="col">DOB</th>
                            <th scope="col">Covid Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ currentUser._dob }}</td>
                            <td>{{ currentUser._covidstatus }}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="address">
                    <div>{{ currentUser._address }}</div>
                    <!-- <div>Address Line 2</div> -->
                </div>
            </div>
        </div>
        <!--This is a container that will hold the "About Me" information for the individual-->
        <div id="aboutContainer">
            <h2>About me</h2>
            <p>
                {{ currentUser._about }}
            </p>
            <!-- <h5>Update About Me</h5> -->
            <form [formGroup] = "aboutMeGroup" form-control="aboutMe" (ngSubmit)="updateAboutMe()">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Add about me information here.." id="floatingTextarea" formControlName="aboutMe"></textarea>
                    <label for="floatingTextarea">Edit About Me</label>
                  </div>
                <button class = "btn btn-primary" type = "submit">Update</button>
            </form>
        </div>
    </div>

</div>
