<div class="login-form">
  <!-- <div class="card"> -->
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6 px-lg-4">
        <div class="card">
          <div class="card-header px-lg-5">
            <div class="card-heading text-primary">LOGIN</div>
          </div>
          <div class="card-body p-lg-5">
            <h3 class="mb-4">Hi, welcome back!</h3>
            <!-- <p class="text-muted text-sm mb-5">Add login text here.</p> -->
            <form [formGroup]="loginForm">
              <div class="form-floating mb-3">
                <input
                  class="form-control mb-2"
                  id="floatingInput"
                  type="username"
                  placeholder="Username"
                  formControlName="userName"
                  required
                />
                <label for="floatingInput"> Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control mb-2"
                  id="floatingPassword"
                  type="password"
                  placeholder="Password"
                  formControlName="userPassword"
                  required
                />
                <label for="floatingPassword"> Password</label>
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember"
                  id="remember"
                />
                <label class="form-check-label" for="remember"
                  >Remember me</label
                >
              </div>
              <button class="btn btn-primary" type="button">Submit</button>
            </form>
          </div>
          <div class="card-footer px-lg-5 py-lg-4">
            <div class="text-sm text-muted">
              Don't have an account? <a>Register</a>
            </div>
            <button
              routerLink="/register"
              class="btn btn-primary"
              type="button"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>



