<div class="container-fluid">
  <div class="row no-gutter">
    <!-- LIFE SIGNS HALF -->
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <!-- content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <!-- <h3 class="display-4 text-center">LifeSigns</h3> -->
              <img class="transparentlogo" src="./../assets/img/transparent_logo.png" alt="transparentlogo">
              <form>
                <div class="form-group mb-3">
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <p class="text-center">Don't have an account?</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button routerLink="/register" type="submit" class="btn btn-white btn-block text-uppercase mb-2 shadow-sm">
                    SIGN UP
                  </button>
                </div>

                <div class="text-center d-flex justify-content-between mt-4">
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
      <p class="copyright">Copyright <span>&#169;</span> 2021 LifeSigns</p>
    </div>
    <!-- LOGIN HALF -->
    <div class="col-md-6 bg-secondary">
      <div class="login d-flex align-items-center py-5">
        <!-- content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="logintitle">Login</h3>
              <!-- <h3 class="display-4 text-center">Login</h3> -->
              <p class="loginformtitle">Username</p>
              <form [formGroup]="loginForm">
                <div class="form-group mb-3">
                  <input id="userName" type="email" placeholder="Enter username" formControlName="username" required
                    autofocus="" class="form-control border-0 shadow-sm px-4" />
                </div>
                <p class="loginformtitle">Password</p>
                <!-- <p class="text-muted mb-4">Password</p> -->
                <div class="form-group mb-3">
                  <input id="userPassword" type="password" placeholder="Enter password" formControlName="password" required class="form-control border-0 shadow-sm px-4 text-primary"/>
                </div>
                <div class="d-flex justify-content-center">
                  <button routerLink="" type="submit" class="btn btn-white btn-block text-uppercase mb-2 shadow-sm"
                    (click)="userLogin(loginForm)">
                    LOGIN
                  </button>
                </div>

                <div class="text-center d-flex justify-content-between mt-4">
                </div>
              </form>
            </div>

          </div>
        </div>
        <!-- End -->
      </div>
      <img style="float: right;" class="revlogo" src="./../assets/img/rev-logo_281_29.png" alt="transparentlogo">
    </div>
    <!-- End -->
  </div>
</div>